/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jun, 2018, 4:56:54 PM
    Author     : Administrator
*/


.input{
    display:none;
    align-self: center;
}
table, td, th{
    border: 1px solid black;
}
.cmds{
    width:400px;
    border: none;
    background: none;
}

.float-left{ width: 50%; float: left;}
.float-right{ width: 50%; float: right;}